body {
  background-color: gainsboro;
  font-family: Consolas;
  margin: 0;
}
h2 {
  margin-top: 0;
  font-weight: 200;
}
h1 {
  margin-top: 0;
  font-weight: 350;
  font-size: 50px;
}
section {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/012/681/310/large/lee-jaeung-a6.jpg?1536000989);
  background-position: center top;
  background-size:cover;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

.about {
  height: 90vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}